.mt-6 {
  margin-top: 53px;
}
.custom-control.custom-checkbox.mt-4.text-center {
  margin-right: 43px;
}
.custom-control.custom-checkbox.text-center.mr {
  margin-right: 43px;
}
.form-check.text-right.mr {
  margin-right: 42px;
}
.form-check.text-center.ml-6 {
  margin-left: 42px;
}
.form-check.mt-4.text-center {
  margin-right: 42px;
}
.form-check.text-center.mr {
  margin-right: 42px;
}
button.btn.btn-success.w-100.text-white {
  background-color: #467f50;
}
button.btn.btn-info.w-100.text-white {
  background-color: #3c666c;
}
button.btn.btn-primary.w-100.text-white {
  background-color: #344d89;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-white.static-top {
  border-bottom: 1px solid #ccc;
}
.input-group-border {
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}
input.form-control.br {
  border-right: none;
  box-shadow: none;
  height: 43px;
  border-color: #ccc !important;
}
i.fa.fa-eye-slash.p-1 {
  margin: 5px 9px 3px 3px;
  font-size: 22px;
}
button.btn.btn-success.w-100.clr {
  background-color: #6679ee;
  padding: 10px;
  border-radius: 18px;
  border: none;
}
button.btn.btn-success.w-100.mt-4.clr {
  background-color: #4a5395;
  padding: 18px;
  padding: 10px;
  border: none;
}
button.btn.btn-success.w-100.h-100 {
  height: 63px !important;
  border-radius: 14px;
}
#cover {
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
}
.card.rows {
  margin: auto;
  border-radius: 18px;
  width: 54%;
}
.form-group.w-75 {
  margin: auto;
}
p.margin-auto.w-75 {
  margin: auto;
  /* text-align: center; */
}
button.btn.btn-success.w-60 {
  width: 69%;
}
button.btn.btn-success.clr.w-60 {
  background-color: #468050;
}
body.bg-secondaryc,
.fullbackground {
  background-color: #cccc;
}
h6.w-75 {
  margin: auto;
  font-size: 17px;
}
.form-check.w-75 {
  margin: auto;
}
span.text-sucesscl {
  color: #468050;
}
.col-md-12.mt-5.w-50.img {
  margin: auto;
}
h5.text-success.mt {
  width: 48%;
  margin: auto;
}
.mt-5.w-48.margin-auto {
  width: 48%;
  margin: auto;
}
span.text-success {
  font-weight: bold;
}
p.text-right.text-success.bold {
  font-weight: 500;
}
.form-group.m-8 {
  margin-top: 20px;
}
.row.mt-9 {
  margin-top: 75px;
}
button.btn.btn-success.w-100.h-100 {
  width: 80px !important;
  float: right;
  height: 123px;
  height: 78px !important;
}
h4.text-center.text-success.mt-51 {
  font-weight: inherit;
  margin-top: 41px;
}
input#usr\ h-10 {
  height: 44px;
  outline: none !important;
  border-color: #ccc !important;
  box-shadow: none;
}
.form-check.mt-5.w-55 {
  width: 46%;
  margin: auto;
}
button.btn.btn-success.clr.width {
  width: 213px;
}
h5.font-weight {
  font-weight: unset;
}
nav.navbar.navbar-dark.bg-white.static-top {
  min-height: 112px;
}
h2.font {
  font-weight: 400;
}
p.text-success.font {
  font-weight: 500;
  font-size: 15px;
  margin-top: 40px;
  width: 70%;
  margin: auto;
  margin-top: 49px;
}
.container.mt11.mb11 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.background-clr {
  background-color: #f4f4f4;
}
p.fnt-size.w-75.mb-6 {
  margin-bottom: 152px;
}
p.text-center.text-success.mt-5 {
  font-size: 21px;
}
p.font-size {
  font-size: 22px;
}
button.btn.btn-success.text-center {
  width: 262px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  position: absolute;
  height: 100%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 13px;
  text-decoration: none;
  font-size: 15px;
  border-left: 7px solid transparent;
  text-decoration: none !important;
}

.sidebar a:focus,
.sidebar a.active {
  background-color: #f4f4f4;
  color: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 95%;
  font-size: 15px;
  border-left: 7px solid #344d89;
}

.sidebar a:hover:not(.active) {
  background-color: #f4f4f4;
  color: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 95%;
  font-size: 15px;
  border-left: 7px solid #344d89;
}

div.content {
  margin-left: 220px;
  padding: 1px 16px;
  min-height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.w-75.text-right.margin-auto {
  margin: auto;
}
.w-75.margin-auto {
  margin: auto;
}
.text-right.w-75.margin-auto {
  margin: auto;
}
button.btn.btn-success.widths {
  width: 126px;
}
.w-75.margin {
  margin: auto;
}
/* body.bg-grey {
    background-color: #F4F4F4;
} */
.form-check.w-83.mt-2 {
  width: 87%;
  margin: auto;
}
p.w-83.margin-auto {
  margin: auto;
  width: 87%;
}
.w-83.margin.mt-2 {
  margin: auto;
  width: 87%;
}
.sidebars nav.navbar.navbar-expand-lg.navbar-dark.bg-white.static-top {
  border: none;
}
.content {
  background: #f4f4f4;
  border-top-left-radius: 86px;
}
.card.mb-10 {
  margin-bottom: 370px;
}
nav.navbar.navbar-dark.bg-white.static-top.w-99 {
  width: 90%;
}
.dropdown {
  border: 1px solid;
}
nav.navbar.navbar-expand-md.navbar-light {
  min-height: 116px;
  width: 90%;
}
span.mr-6 {
  margin-right: 90px;
}
.row.mb-10 {
  margin-bottom: 190px;
}
button.btn.border {
  border-left: none !important;
  border-radius: 0px 6px 6px 0px;
}
input#form1\ border-right {
  border-right: none;
  border-radius: 6px 0px 0px 7px;
  box-shadow: none;
  border-color: #dee2e6 !important;
}
.form-outline.w-45 {
  width: 45%;
}
button.btn.btn-success.widthss.mb-5 {
  width: 103px;
}
button.btn.btn-success.widt.rad.mt-5 {
  border-radius: 20px;
  width: 92px;
  opacity: 0.5;
}
button.btn.btn-success.wid.radius.mt-5 {
  border-radius: 23px;
}
button#dropdownMenuButton {
  box-shadow: none;
}
.dropdown-menu.mr-5.show {
  margin-left: -52px;
}
button.btn.btn-secondary.radius {
  border-radius: 52px;
  height: 34px;
  width: 35px;
  background: #ccc;
  border: none;
}
td {
  vertical-align: middle !important;
}
button#dropdownMenuButton\ border {
  border: 1px solid #dee2e6;
  box-shadow: none;
}
button.close.boxs {
  background: #007bff !important;
  color: white;
  font-size: 10px;
  border-radius: 32px;
  height: 14px;
  width: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.row.text-right {
  float: right;
}
.table td,
.table th {
  border-bottom: 1px solid #dee2e6;
}
button.btn.btn-success.wdt {
  width: 92%;
}
.col-md-12.margin-autos.w-75 {
  margin: auto;
}
nav.navbar.navbar-expand-md.navbar-light.height-set {
  min-height: 13px !important;
}
button#dropdownMenuButton\ brd {
  border: 1px solid #dee2e6;
}
.return th {
  padding: 30px !important;
}
.employee .table thead th {
  border-bottom: none;
  border-top: none;
}
.employee td {
  padding: 33px !important;
}
.employee th {
  padding: 25px !important;
}
img.img-w-h {
  width: 49px;
  height: 62px;
}
.logo-text {
  text-decoration: none !important;
  color: #000 !important;
}
.col-md-3.mt-4.mr-i3 {
  margin-right: -27px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 28px !important;
}
input#usr {
  box-shadow: none;
  outline: none;
  border-color: #dee2e6 !important;
}
input#usr\ height {
  height: 43px;
  box-shadow: none;
  border-color: #dee2e6 !important;
}
button.btn.float-right {
  box-shadow: none !important;
  width: 81px;
}
.row.mt-9.w-75 {
  margin: auto;
  margin-top: 39px;
}
.mt-5.w-75 {
  margin: auto;
}
.row.mt-9.w-76 {
  width: 81%;
  margin: auto;
}
.mt-4.w-76 {
  width: 81%;
  margin: auto;
}
img.img-fluid.swt {
  width: 81%;
  margin: auto;
  float: right;
}
p.margin-auto.w-75.mt-55 {
  margin-top: 30px;
}
label.mt-5g {
  margin-top: 38px;
}
.text-center.mt-5c.mb-5 {
  margin-top: 37px;
}
h6.w-755 {
  width: 40%;
  margin: auto;
}
.form-group.w-755 {
  width: 40%;
  margin: auto;
}
.form-check.w-755.mt-5 {
  margin: auto;
  width: 45%;
}
.mt-4.w-755 {
  margin: auto;
  width: 40%;
}
.form-check.w-755 {
  width: 40%;
  margin: auto;
}
.border-top.mt-6 {
  margin-top: 89px;
}
.text-right.mt-5.mb-5.w-501 {
  width: 71%;
}
input#psd {
  box-shadow: none;
  border-color: #dee2e6 !important;
}
input#cpsd {
  box-shadow: none;
  border-color: #dee2e6 !important;
}
.col-md-12.mt-5.w-35.img {
  width: 36%;
  margin: auto;
}
p.mt-5.font {
  width: 68%;
  margin: auto;
}
.w-623 {
  width: 30%;
  margin: auto;
  margin-top: 60px;
}
h2.font.weight {
  font-size: 28px;
  width: 69%;
  margin: auto;
  margin-top: 15px;
}
.imge-w {
  width: 61%;
  margin: auto;
}
.w123 {
  width: 25%;
  margin: auto;
  margin-top: 62px;
}
h5.wm-0 {
  width: 67%;
  margin: auto;
}
p.fnt-size.w-75n.mb-6 {
  width: 68%;
  margin: auto;
}
p.fnt-size {
  width: 48%;
  margin: auto;
}
h5.w-68.margin {
  width: 48%;
  margin: auto;
}
p.font-size {
  width: 72%;
}
img.img-fluid.border-1 {
  border: 8px solid #e9b27a;
}
.card.mb-10.W-61.MR-A {
  margin: auto;
  width: 61%;
}
img.img-fluid.mt-01 {
  margin-top: -14px;
}
h4.text-success.mt-5.w-61.auto {
  width: 61%;
  margin: auto;
}
button.btn.btn-success.widths.mb-5 {
  width: 180px;
}
.table thead th {
  border-bottom: none !important;
}
button.delete-btn {
  border: none;
  background: white;
  float: right;
  margin-top: -24px;
}
.table td,
.table.menu-page th {
  padding: 1.75rem !important;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
button.img-dl {
  border: navajowhite;
  background: white;
}
.business-hour td {
  vertical-align: top !important;
}
.form-check.mtless {
  margin-top: 13px;
}
span.mt-3vb {
  margin-top: 24px !important;
  display: block;
}
.table.business-hour td,
.table th {
  border-top: none !important;
}
button.img-dl {
  outline: none !important;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-white.static-top.border-none {
  border-bottom: none;
  min-height: 0px;
}
.col-md-3.mt-4.mr-i3.ml-3 {
  margin-top: 36px !important;
}
.table.return td,
.table th {
  border-bottom: none;
}
.border.m-t-65 {
  margin-top: -12px;
}
